.comments {
  text-align: center;
}

.comments .comment-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments h1 {
  padding-bottom: 1rem;
}

.comments .message {
  justify-content: flex-start;
}

.comments .date-created img {
  margin-left: 1rem;
}

.comment {
  padding: 8px;
}

.comment:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.comment .icon-delete {
  width: 20px;
}

.comment .btn-valid-delete-comment, .comment .btn-cancel-delete-comment {
  display: none;
}

.comment.deleting .btn-delete-comment, .comment.deleting .btn-edit-comment {
  display: none;
}

.comment.deleting .btn-valid-delete-comment, .comment.deleting .btn-cancel-delete-comment {
  display: block;
}

.deleting {
  background-color: #ffcccc;
}
