.banner {
  height: 200px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(185,185,185,1) 100%);
}

#home-container {
  padding-top: 1rem;
}

/* PRESENTATION */

.presentation {
  padding: 2rem 0;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
}

.presentation .presentation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation h2 {
  margin-bottom: 1rem;
}

.presentation .img-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .presentation .img-wrapper {
    margin-top: 1rem;
  }
}

.presentation img {
  margin: 1rem;
  width: 70%;
  border-radius: 5px;
}

/* POSTS */

.posts {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid lightgrey;
}

.posts .row {
  justify-content: center;
}

.posts h2 {
  margin-bottom: 2rem;
}

.link-all {
  margin-top: 2rem;
}

/* FORM */

#form-contact {
  padding: 2rem 0;
  text-align: center;
  justify-content: center;
}

#form-contact h3 {
  margin-bottom: 1rem;
}
