.banner {
  height: 200px;
  padding: 2rem;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PRESENTATION */

.presentation {
  padding: 2rem 0;
  border-bottom: 1px solid lightgrey;
}

.presentation .presentation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation-header a:hover {
  text-decoration: underline;
}

.presentation h2 {
  margin-bottom: 1rem;
}

.presentation .img-wrapper {
  display: flex;
  justify-content: center;
}

.presentation img {
  width: 70%;
  border-radius: 5%;
}

/* POSTS */

.posts {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid lightgrey;
}

.posts h2 {
  margin-bottom: 2rem;
}

.link-all {
  margin-top: 2rem;
}

/* FORM */

#form-contact {
  padding: 2rem 0;
  text-align: center;
}

#form-contact h3 {
  margin-bottom: 1rem;
}

#form-contact input, #form-contact textarea {
  width: 100%;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
}

#form-contact input:focus-visible, #form-contact textarea:focus-visible {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

#form-contact .btn-submit {
  background-color: black;
  color: whitesmoke;
  border: none;
}
