.post-image img {
  width: 20%;
}

.post-content {
  margin: 2rem 0;
}

.post-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-created {
  display: flex;
  align-items: center;
}

.date-created img {
  margin-left: 1rem;
}

.comments {
  margin-top: 3rem;
}

.comments h3 {
  margin-bottom: 1rem;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}

#form-comment textarea, #form-comment input {
  width: 100%;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
}

#form-comment textarea:focus-visible {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
