.user .card {
	padding: 2rem;
	margin: 1rem 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.user .center {
	justify-content: center;
}

.user .headers {
	opacity: 0.5;
}

.user .margin-bottom {
	margin-bottom: 1rem;
}

.user .text-underline:hover {
	text-decoration: underline;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

form .row.margin-bottom {
	justify-content: center;
}

form .row.margin-bottom div {
	margin: 4px 0;
}

.user h1 {
	margin-bottom: 2rem;
}

.user form .input p:last-child {
	display: none;
}

form.editing .input p:first-child {
	display: none;
}

form.editing .input p:last-child {
	display: block;
}

.editing .avatar {
	cursor: pointer;
}

#form-edit-user input {
	width: 80% !important;
	text-align: center;
}

#form-edit-user #btn-edit-user-cancel {
	width: 80% !important;
	text-align: center;
}

input[type=submit] {
	width: auto;
}

.password-row {
	display: none;
	margin-top: 1rem;
	justify-content: center;
}

@media (max-width: 768px) {
	#form-edit-user input[type=submit],
	#btn-edit-user-cancel {
		margin-top: 1rem;
	}

	.password-row {
		margin-top: 0;
	}
}

.editing .password-row {
	display: flex;
}

.icon-delete {
	width: 20px;
	display: none;
}

form.editing .icon-delete {
	display: block;
}

.user .avatar {
	width: auto;
	height: 50px;
}
